<body>
    <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=753&amp;height=446&amp;hl=en&amp;q=No. 26, Jalan Cempaka, Southlake Bluwater Estate, 43300 Seri Kembangan, Selangor.&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://strandsgame.net/">Strands NYT</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:446px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:446px;}.gmap_iframe {height:446px!important;}</style></div>
    <div style="width: 100%; padding: 3%; box-sizing: border-box;">
        <div class="flex-column" style=" justify-content: center; align-items: center;">
            <h1 class="title">
                联系方式
            </h1>
            <div class="flex-row">
                <div class="flex-column" style="width: 35vw;">
                    <div class="flex-column" style="width: 100%;">
                        <h2>
                            邮箱
                        </h2>
                        <p>
                            sales.oem4u&#64;gmail.com
                        </p>
                    </div>
                    <div class="flex-row" style="justify-content:space-between;padding-right:4vw">
                        <div class="flex-column">
                            <h2>
                                电联
                            </h2>
                            <p>
                                +6018 211 5769 <br><br> +6016996 9869
                            </p>
                        </div>
                        <div class="flex-column">
                            <h2>
                                关注我们
                            </h2>
                            <div class="flex-row">
                                <div style="height: 3vh; width: 3vw;">
                                    <img src="assets/facebookblack.png" style="height:100%; width:100%; object-fit:contain">
                                </div>
                                <div style="height: 3vh; width: 3vw;">
                                    <img src="assets/instablack.png" style="height:100%; width:100%; object-fit:contain">
    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="flex-column">
                        <h2>
                            营业时间
                        </h2>
                        <p>
                            Mon - Sat : 9.00 AM - 7.00 PM<br><br> Sun : 9.00 AM - 6.00 PM
                        </p>
                    </div>
                    <div class="flex-column">
                        <h2>
                            参观我们
                        </h2>
                        <p>
                            No. 26, Jalan Cempaka, Southlake<br>Bluwater Estate, 43300 Seri Kembangan,<br>Selangor.
                        </p>
                    </div>

                </div>
                <div style="background: #F1F1F1;  height: 55vh; width: 40vw; padding: 3%;">
                    <div class="flex-column" style="justify-content: space-around; height: 100%;">
                        <input type="text" style="background: white; border: 1px solid white; width: 40vw; height: 8vh" placeholder="     名字">

                        <input type="text" style="background: white; border: 1px solid white; width: 40vw; height: 8vh" placeholder="     邮箱">

                        <input type="text" style="background: white; border: 1px solid white; width: 40vw; height: 8vh" placeholder="     电话号码">

                        <input type="text" style="background: white; border: 1px solid white; width: 40vw; height: 8vh" placeholder="     信息备注">

                        <div class="flex-row" style="background: white; border: 1px solid white; width: 10vw; height: 8vh;margin-left: auto;justify-content: center; align-items: center;">
                            <p>submit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>