.flex-row {
    box-sizing: border-box;
    display: flex;
}

.flex-column {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

@media (max-width: 430px) {
    .flex-row {
        flex-direction: column;
    }

    .flex-column {
        width: 100%;
    }
}

.title{
    font-size: 3vw;
}