<!--关于OEM4U-->
<div class="container" style="padding: 4vw 0;">
    <div class="flex" style=" width: 100%;flex-direction: column;justify-content:space-between; align-items: center;margin-bottom:4%;">
        <div class="flex" style="width: 85%; justify-content: space-between;">
            <div style="background: black; width: 35vw; height: auto;margin-left: 8vw;">
                <div style="background: black; width: 100%;">
        
                </div>
            </div>
            <div class="flex" style="flex-direction: column;  font-family: Arial, Helvetica, sans-serif;" >
                <p style="font-size: 3vw; margin-top:0">
                    关于OEM4U
                </p>
                <div style="width: 35vw; text-align: justify; font-size: 1.5rem;  font-family: Arial, Helvetica, sans-serif;">
                    OEM4U是一家拥有30+年经验的一站式OEM/ODM/OBM贴牌加工生产商,专
                    门用于大健康保健品和宠物健康食品配方研发定制、成品加工生产整合
                    服务于一体的研发服务型企业。目前,OEM4U拥有专业的配套研发实验
                    室、生产基地,通过严谨的研发质量管理体系。OEM4U以大健康保健品
                    和宠物健康食品研发创新为基础,以OEM代加工服务为依托,以整合上
                    下游研发生产资源为拓展,以人力资源为根本,在激烈的市场竞争中受到
                    广大委托代加工客户的信赖。OEM4U拥有稳定优质的配套合作伙伴,包
                    括包装容器生产厂、外包装生产厂、印刷厂、广告公司、品牌运营公司
                    等,能为客户提供产品生产、包装设计、商标注册等一系列服务。<br> <br>
                    OEM4U在发展的道路上始终会以客户需求为核心。同时我们会尊重每一
                    位员工,激发员工潜能,提供广阔发展平台,以内部和谐为原动力推动企
                    业健康稳健发展。我们坚信,在“品质决定未来”的信念下,努力为客户
                    创造价值,为员工实现梦想并回馈社会是正确的选择和努力的方向。
                </div>
            </div>
        </div>
    </div>
</div>

<!--statistics-->
<div style="width: 100%; height: 50vh; background: lightblue">

</div>

<!--为什么选择OEM4U-->
<div class="container" style="width: 100%; padding: 4vw 4vh; font-family: Arial, Helvetica, sans-serif;">
    <div class="flex" style="flex-direction: column; height:100%;width:100%">
        <div class="flex" style="justify-content: center; ">
            <p style="font-size: 3rem;">
                为什么选择OEM4U
            </p>
        </div>
        <div class="flex" style="justify-content: space-around;">
            <div class="flex " style="flex-direction: column;">
                <p style="font-size: 2rem;">
                    01 生产基地配套服务
                </p>
                <ul style="font-size: 1.5rem;">
                    <li>10万GMP生产车间</li>
                    <li>GMP国际认证现代化生产线</li>
                    <li>先进优良设备</li>
                </ul>
                <p style="font-size: 2rem;">
                    02 专业研发中心
                </p>
                <ul style="font-size: 1.5rem;">
                    <li>标准实验室，专业研发以及检测设备</li>
                    <li>根据客户要求，提供不同档次的方案以及新品配方</li>
                    <li>2000多个成熟配方度身定制</li>
                </ul>
            </div>
            <div style="background: black; width: 35vw; height: auto;margin-left: 8vw;">
                <div style="background: black; width: 100%;">
                    
                </div>
            </div>
        </div>
        <div class="flex" style="justify-content: space-around;">
            <div style="background: black; width: 35vw; height: auto;margin-left: 8vw;">
                <div style="background: black; width: 100%;">
                    
                </div>
            </div>
            <div class="flex " style="flex-direction: column;">
                <p style="font-size: 2rem;">
                    03 一站式服务体系
                </p>
                <ul style="font-size: 1.5rem;">
                    <li>提供包装设计服务，提供所有包材定制服务</li>
                    <li>商标注册，品牌运营，市场分析等服务</li>
                    <li>提供产品备案服务，让您销售无忧</li>
                </ul>

            </div>

        </div>
    </div>

</div>

<!--OEM4U专业研发用品定制服务-->
<div class="flex" style="flex-direction: column; width: 100%; padding: 3vw; justify-content: center; align-items: center;font-family: Arial, Helvetica, sans-serif; 
box-sizing: border-box; ">
    <p style="font-size: 3rem">OEM4U专业研发用品定制服务 </p>
    <div class="flex" style="justify-content: space-around; width: 100%">
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
                专业定制生产
            </p>
        </div>
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
               包装设计包材定制
            </p>
        </div>
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
                市场分析
            </p>
        </div>
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
                品牌推广
            </p>
        </div>
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
                广告投放
            </p>
        </div>
        <div class="flex" style="flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 10vw; background: #FFD011; border-radius: 50%; height: 20vh;">
            </div>
            <p style="font-size:1.5rem">
                线上销售推广
            </p>
        </div>
    </div>
</div>