<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>

<nav style="display: flex; justify-content: space-around; align-items: center;">
  <input type="checkbox" name="" value="" id="check" #check (change)="toggleNavbar()">
  <div>
    <img style="border-radius: 10px;" class="logo" src="assets/OEM4U_Logo Set_Profile Pic.png" alt="OEM4U main logo profile pic">
    <img  class="logo" src="assets/OEM4U_Logo Set-10.png" alt="OEM4U main logo">
  </div>
  <label for="check" class="checkbtn">
    <i id="menuIcon" class="fa fa-bars"></i>
  </label>
  <ul>
    <li>
      <div class="flex-column" style="align-items: center;margin-bottom: 2.5vh" (click)="goToHomePage()">
        <p>
          首页
        </p>
        <div *ngIf="isSelected === 'home'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;margin-bottom: 2.5vh" (click)="goToAboutPage()">
        <p>
          关于OEM4U
        </p>
        <div *ngIf="isSelected === 'about'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;margin-bottom: 2.5vh" (click)="goToLivePage()">
        <p>
          线上看厂
        </p>
        <div *ngIf="isSelected === 'live'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;margin-bottom: 2.5vh" (click)="goToCenterPage()">
        <p>
          代加工产品中心
        </p>
        <div *ngIf="isSelected === 'center'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;margin-bottom: 2.5vh" (click)="gotoFaqPage()">
        <p>
          常见问题
        </p>
        <div *ngIf="isSelected === 'faq'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;margin-bottom: 2.5vh" (click)="goToContact()">
        <p>
          联系方式
        </p>
        <div *ngIf="isSelected === 'contact'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
  </ul>

</nav>

</header>

<body>
  <router-outlet></router-outlet>
</body>


<footer>  
  <div class="flex" id="footer-container" style="justify-content: space-between; height: 25vh; width:90%; padding-left: 5vw">
    <div id="footer-logo" style="height: 10vh; width: 40vw">
      <img class="logo" src="assets/OEM4U_Logo Set-10.png" alt="OEM4U main logo">
    </div>
    <div class="flex" id="footer-details" style="justify-content: space-around; width: 100%;">
      <div class="flex-column"  style="justify-content: space-between; height: 100%">
        <h4>
          网站地图
        </h4>
        <p (click)="goToHomePage()" style="font-size: 0.9vw;">
          主页
        </p>
        <p (click)="goToAboutPage()" style="font-size: 0.9vw;"> 
          关于OEM4U
        </p>
        <p  (click)="goToLivePage()" style="font-size: 0.9vw;">
          线上看厂
        </p>
        <p (click)="goToCenterPage()" style="font-size: 0.9vw;">
          代加工产品中心
        </p>
        <p (click)="gotoFaqPage()" style="font-size: 0.9vw;">
          常见问题
        </p>
        <p  (click)="goToContact()" style="font-size: 0.9vw;">
          联系方式
        </p>
      </div>
      <div class="flex-column" style="height: 70%; width: 45%; justify-content: space-between;">
        <h4>
          联系我们
        </h4>
        <p style="font-size: 0.9vw;">
          sales.oem4u&#64;gmail.com
        </p>
        <p style="font-size: 0.9vw;">
          +6018 211  5769 / +6016996 9869
        </p>
        <div class="flex" style=" height: 5vh; width: 60%;justify-content: start;">
          <img style="width:2vw; object-fit: contain;" src="assets/facebook.png" alt="facebook">
          <img style="width:2vw; object-fit: contain; margin: 0 1.5vw;" src="assets/instagram.png" alt="instagram">
          <img style="width:2vw; object-fit: contain;" src="assets/WhatsApp.png" alt="WhatsApp">
        </div>
        <p style="font-size: 0.9vw; font-weight: 550;">
          Copyright&#64;OEM4U2024
        </p>
      </div>
    </div>
  </div>
</footer>