<header>

<nav>
  <input type="checkbox" name="" value="" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">
    OEM4U
  </label>
  <ul>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="goToHomePage()">
        <p>
          首页
        </p>
        <div *ngIf="isSelected === 'home'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="goToAboutPage()">
        <p>
          关于OEM4U
        </p>
        <div *ngIf="isSelected === 'about'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="goToLivePage()">
        <p>
          线上看厂
        </p>
        <div *ngIf="isSelected === 'live'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="goToCenterPage()">
        <p>
          代加工产品中心
        </p>
        <div *ngIf="isSelected === 'center'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="gotoFaqPage()">
        <p>
          常见问题
        </p>
        <div *ngIf="isSelected === 'faq'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
    <li>
      <div class="flex" style="flex-direction: column; align-items: center;" (click)="goToContact()">
        <p>
          联系方式
        </p>
        <div *ngIf="isSelected === 'contact'" style="background: #FFD011; border-radius: 20px; height:0.7vh; width:2vw;">
        </div>
      </div>
    </li>
  </ul>

</nav>

</header>

<body>
  <router-outlet></router-outlet>
</body>


<footer>  
  <div class="flex" id="footer-container" style="justify-content: space-between; height: 100%; width:100%">
    <div id="footer-logo" style="background: white; height: 10vh; width: 40vw">

    </div>
    <div class="flex" id="footer-details" style="justify-content: space-between;  margin-right: 5%;">
      <div class="flex"  style="flex-direction: column; justify-content: space-between;">
        <p  style="font-size: 1rem;">
          网站地图
        </p>
        <p (click)="goToHomePage()">
          主页
        </p>
        <p (click)="goToAboutPage()">
          关于OEM4U
        </p>
        <p  (click)="goToLivePage()">
          线上看厂
        </p>
        <p (click)="goToCenterPage()">
          代加工产品中心
        </p>
        <p (click)="gotoFaqPage()">
          常见问题
        </p>
        <p  (click)="goToContact()">
          联系方式
        </p>
      </div>
      <div class="flex" style="height: 70%; width: 45%; flex-direction: column; justify-content: space-between;">
        <p  style="font-size: 1rem;">
          联系我们
        </p>
        <p >
          sales.oem4u&#64;gmail.com
        </p>
        <p >
          +6018 211  5769 / +6016996 9869
        </p>
        <div class="flex" style="background: white; height: 10%; width: 60%;">
        </div>
        <p >
          Copyright&#64;OEM4U2024
        </p>
      </div>
    </div>
  </div>
</footer>