<body>
    <!--picture-->
    <div>
        <img style=" width: 100%; object-fit: cover;" src="assets/Banner 2-01.jpg" alt="Banner Image">
    </div>

    <!--关于OEM4U-->
    <div class="container" style=" padding: 5%">
            <div id="aboutOEM4Uflex" class="flex-row"  >
                <div id="aboutOEM4Uimage">
                    <img style="height:100%;width:100%;object-fit: contain;" src="assets/bottlesAndmachinery.png">
                </div>
                <div id="aboutOEM4UdescContainer" class="flex-column">
                    <p id="aboutOEM4U">
                        关于OEM4U
                    </p>
                    <div id="aboutOEM4Udescription">
                        OEM4U是一家拥有30+年经验的一站式OEM/ODM/OBM贴牌加工生产商,专
                        门用于大健康保健品和宠物健康食品配方研发定制、成品加工生产整合
                        服务于一体的研发服务型企业。目前,OEM4U拥有专业的配套研发实验
                        室、生产基地,通过严谨的研发质量管理体系。OEM4U以大健康保健品
                        和宠物健康食品研发创新为基础,以OEM代加工服务为依托,以整合上
                        下游研发生产资源为拓展,以人力资源为根本,在激烈的市场竞争中受到
                        广大委托代加工客户的信赖。OEM4U拥有稳定优质的配套合作伙伴,包
                        括包装容器生产厂、外包装生产厂、印刷厂、广告公司、品牌运营公司
                        等,能为客户提供产品生产、包装设计、商标注册等一系列服务。<br> <br>
                        OEM4U在发展的道路上始终会以客户需求为核心。同时我们会尊重每一
                        位员工,激发员工潜能,提供广阔发展平台,以内部和谐为原动力推动企
                        业健康稳健发展。我们坚信,在“品质决定未来”的信念下,努力为客户
                        创造价值,为员工实现梦想并回馈社会是正确的选择和努力的方向。
                    </div>
                </div>


            </div>
    </div>

    <!--Pie Chart-->
    <div style="background: lightgoldenrodyellow; width: 100%; height: 100vh">

    </div>

    <!--贴牌加工热推五大系列 #1-->
    <div class="container" style="background: #EFEFEF;">
        <div class="flex" style=" width: 100%;flex-direction: column;justify-content:space-between; align-items: center;margin-bottom:4%">
            <h1 class="title">
                OEM4U贴牌加工热推五大系列
            </h1>
            <div style="width: 80%;display:flex; flex-wrap: wrap; justify-content: center">
                <div class="flex" style="flex-direction: column; justify-content: center;">
                    <div class="testing">

                    </div>
                    <div>
                        银发经济
                    </div>
                </div>
                <div class="flex" style="flex-direction: column;">
                    <div class="testing">

                    </div>
                    <div>
                        女人经济
                    </div>
                </div>
                <div class="flex" style="flex-direction: column;">
                    <div class="testing">

                    </div>
                    <div>
                        小孩经济
                    </div>
                </div>
                <div class="flex" style="flex-direction: column;">
                    <div class="testing">

                    </div>
                    <div>
                        睡眠经济
                    </div>
                </div>
                <div class="flex" style="flex-direction: column;">
                    <div class="testing">

                    </div>
                    <div>
                        宠物经济
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--贴牌加工热推五大系列 #2-->
    <div class="container" style="background: white; ">
        <div class="flex" style=" width: 100%;flex-direction: column;justify-content:space-between; align-items: center;margin-bottom:4%">
            <h1 class="title">
                公司业务模式
            </h1>
            <div id="pieChartRow" class="flex-row">
                <div class="circle">
                </div>

                <div class="flex-column pcLegendDiv">
                    <div class="flex">
                        <div class="pcLegendBox" style="background:red;">
                        </div>
                        <div class="pcLegend">
                            自主加工品牌
                        </div>
                    </div>
                    <div class="flex" style="align-items: center; margin-bottom: 3%">
                        <div class="pcLegendBox" style=" background: #FFD011;">
                        </div>
                        <div class="pcLegend">
                            半成品可加工
                        </div>
                    </div>
                    <div class="flex" style="align-items: center; margin-bottom: 3%">
                        <div class="pcLegendBox" style="background: #5CF11B;">
                        </div>
                        <div class="pcLegend">
                            来样仿版加工
                        </div>
                    </div>
                    <div class="flex" style="align-items: center; margin-bottom: 3%">
                        <div class="pcLegendBox" style="background: #9D19F8;">
                        </div>
                        <div class="pcLegend">
                            按需打样定制
                        </div>
                    </div>
                </div>
                <div id="pieChartPoints" class="flex-column" style=" width: 43%; justify-content: space-between">
                    <div style="margin-bottom: 5%">
                        <div class="pcPointsTitle">
                            自主加工品牌
                        </div>
                        <div class="pcPointsDesc">
                            告诉我们您品牌名称，拥有您的专属品牌
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div  class="pcPointsTitle">
                            半成品可供应
                        </div>
                        <div class="pcPointsDesc">
                            无需灌装更方便、更灵活、更快速
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div class="pcPointsTitle">
                            来样仿版加工
                        </div>
                        <div class="pcPointsDesc">
                            您把样板给我们，您将拥有国际大牌版的产品
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div  class="pcPointsTitle">
                            按需打样定制
                        </div>
                        <div class="pcPointsDesc">
                            品牌或个人的需求打造独一无二的产品
                        </div>
                    </div>


                </div>
            </div>
            
        </div>
    </div>

    <!--产品专业研发-->
    <div class="container" style="background: white;">
        <div class="flex" style=" width: 100%;flex-direction: column;justify-content:space-between; align-items: center;margin-bottom:4%">
            <h1 class="title">
                OEM4U产品专业研发
            </h1>
            <div class="flex" style="width: 80%; justify-content: space-evenly">
                <div class="flex" style="flex-direction: column; width: 43%; justify-content: space-between">
                    <div style="margin-bottom: 5%">
                        <div class="title" style="font-size: 2vw;">
                            01 专业的研发团队
                        </div>
                        <div style="font-size: 1.3vw; font-weight: 500; color: gray">
                            致力于创新、研发、服务与品质的公司，专业的研发团队，
                            标准实验室，专业研发设备以及检测 设备，为公司产品质
                            量提供强有力的后盾。
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div class="title" style="font-size: 2vw;">
                            02 先进研发生产设备
                        </div>
                        <div style="font-size: 1.3vw; font-weight: 500; color: gray">
                            拥有10万级GPM生产厂间; GMP国际认证现代化生产线; 先进
                            优良设备，从根本上保障产品的品质。
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div class="title" style="font-size: 2vw;">
                            03 齐全的生产资质
                        </div>
                        <div style="font-size: 1.3vw; font-weight: 500; color: gray">
                            齐全的证件，具有良好的生产规范。能提供用品研发服务；
                            根据不同产品的特性提供不同的生产许可证。
                        </div>
                    </div>
                    <div  style="margin-bottom: 5%">
                        <div class="title" style="font-size: 2vw">
                            04 提供一站式服务体系
                        </div>
                        <div style="font-size: 1.3vw; font-weight: 500; color: gray">
                            一对一服务，免费包装设计服务，提供所有包材定制服务；
                            提供产品备案服务，让您销售无忧；提供商标注册、品牌运
                            营、市场分析等一系列服务。
                        </div>
                    </div>


                </div>
                <div style="width: 30%; background: lightblue; border-radius: 20px">
                    <img style="height: 100%;width:100%" src="assets/packaging.png" alt="packaging">
                </div>
            </div>
            
        </div>
    </div>

    <!--信誉认证-->
    <div class="container" style="background: white;">
        <div class="flex" style=" width: 100%;flex-direction: column;justify-content:space-between; align-items: center;margin-bottom:4%;">
            <h1 class="title">
                OEM4U信誉认证
            </h1>
            <div class="flex" style=" width: 100%; justify-content: space-around;">
                <div class="flex" style="flex-direction: column; width: 30%; justify-content: space-between;">
                    <div style="font-size: 1.5vw;">
                        GMP、HACCP、ISO、清真HALAL以及
                        出口和进口许可证等必要的认证，
                        我们通通有。这个全面的认证过，
                        表明我们对领先行业标准和法规的
                        坚定承诺。
                    </div>
                    <div class="flex-column" style="height: 40%;width:100%;margin-top: 2vh;">
                        <div class="flex-row" style="justify-content:start; width: 100%;height: 100;">
                            <img style="height: 9vh; width: 7vw; object-fit: contain;" src="assets/Logo icon-01.png" alt="Food Safety Malaysia">
                            <img style="height: 9vh; width: 7vw; object-fit: contain;" src="assets/Logo icon-02.png" alt="Mesti">
                            <img style="height: 9vh; width: 7vw; object-fit: contain;" src="assets/images.png" alt="NPRA">
                        </div>
                        <div class="flex-row" style="justify-content: start; width: 100%;height: 100%;margin-top: 2vh;">
                            <img style="height: 9vh; width: 7vw; object-fit: contain;" src="assets/haccp-logo-01EE6C96B1-seeklogo.com.png" alt="HACCP">
                            <img style="height: 9vh; width: 7vw; object-fit: contain;" src="assets/ISO-22000-Vincere-Consultants-1.png" alt="ISO">
                            <img style="height: 9vh; width: 6vw; object-fit: cover" src="assets/Logo icon-03.png" alt="HALAL">
                        </div>
                    </div>
                </div>
                <div class="flex" style="justify-content: space-around; width: 60%">
                    <div class="cert">
                        <img style="height:100%; width:100%" src="assets/H232891.jpg" alt="HACCP cert">
                    </div>
                    <div class="cert">
                        <img style="height:100%; width:100%" src="assets/F232891.jpg" alt="ISO cert">
                    </div>
                    <div class="cert">
                        <img style="height:100%; width:100%" src="assets/G232891.jpg" alt="GMP cert">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
