<div style="width: 100vw; box-sizing: border-box;margin-bottom:5vh">
    <video #myVideo style="width:100%;" controls autoplay>
        <source src="assets/One4mulaVid.mp4" type="video/mp4">
    </video>
</div>

<!--OEM制造专家-->
<div style="width:100%; padding: 3vw; box-sizing: border-box; ">
    <div class="flex" style="justify-content: space-around; padding:0 5vw;">
        <div style="width: 30vw; height: auto; background:black">
            <img src="assets/genAI.png" style="height:100%; width:100%;">
        </div>
        <div class="flex" style="flex-direction: column; width:40vw; ">
            <p style="font-size: 3vw; margin-top: 0;">
                OEM制造专家
            </p>
            <p style="font-size: 1.4vw;">
                我们的工厂充满先进机械的协同作用。粉末和颗粒处理区整合了高科技的
                粉碎机、混合机和制粒机。在液体和果冻生产中，自动化的灌装和封口系
                统确保了精准的配料。片剂和胶囊制造采用精密的片剂压片机和胶囊灌装
                机进行。而能量棒和零食生产区则配备了现代化的挤出机和成型机。<br><br>
                目前每月的平均销售潜力将达到令人瞩目的2-3百万马币水平。这不仅凸显
                了我们对满足市场需求的承诺，更表明我们在每个产品中坚守着最高的质
                量标准。
            </p>
            <div class="flex" style=" width:auto; height: 20vh;justify-content: space-between; align-items: center;">
                <img src="assets/asset10.png" style="height:100%; width:30%">
                <img src="assets/asset9.png" style="height:100%; width:30%;margin-top:8%">
                <img src="assets/Pulverizing.png" style="height:100%; width:30%">
                
            </div>
        </div>
    </div>
</div>

<!--OEM 制作流程-->
<div class="flex-column" style="width:100%; padding: 3vw 5vw;box-sizing: border-box; align-items: center;">
    <div class="flex-column" style="width:90%;  align-items: center;">
        <p style="font-size: 3rem">
            OEM制作流程
        </p>
        <p style="font-size: 1.5rem;text-align: center;">
            OEM制程始于合作的概念设计和详细的产品工程，随后创建原型进行可视化和测试。一旦获得批准，我们就会进入全面的
            制造阶段，伴随着周密的生产计划。严格的质量控制确保产品卓越，而我们的设计团队则制作与您品牌相符的包装和标
            签。物流阶段处理安全包装、海关、仓储和分销，确保及时将产品送到指定地点。在整个过程中，您的愿景始终处于核心
            位置， 从而产生超越预期、反映您独特身份的产品。 
        </p>
    </div>
</div>

<!--boxes-->
<div class="flex" style="justify-content: center; align-items: center;padding: 1vw 0;">
    <div class="flex" style="width:80%; justify-content: space-around;">
        <div class="flex"  style=" flex-direction: column;height: 50vh; width:23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/discussion.jpg" style="height:100%;width:100%;">
            </div>
            <p style="font-size: 1.5rem">
                沟通细节
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                联系在线客服，沟通细节
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/drawing.jpg" style="height:100%;width:100%;">
            </div>
            <p style="font-size: 1.5rem">
                开始设计
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                开始为你打样设计
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/handshake.jpg" style="height: 100%;width: 100%;">
            </div>
            <p style="font-size: 1.5rem">
                产品报价
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                了解买家要求，给出报价
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/confirmed.jpg" style="height:100%; width:100%">
            </div>
            <p style="font-size: 1.5rem">
                打样确认
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                双方进一步沟通，打样确认
            </h4>
        </div>
    </div>

</div>

<div class="flex" style="justify-content: center; align-items: center; padding: 1vw 0;">
    <div class="flex" style="width:80%; justify-content: space-around;">
        <div class="flex"  style=" flex-direction: column;height: 50vh; width:23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/contract.png" style="height:100%; width:100%">
            </div>
            <p style="font-size: 1.5rem">
                签订合同
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                上方签写确认合同
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/bankcard.png" style="height:100%; width:100%">
            </div>
            <p style="font-size: 1.5rem">
                预付定金
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                工厂筹备材料，客户付定金
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/factoryEquipment.png" style="height:100%; width:100%">
            </div>
            <p style="font-size: 1.5rem">
                安排生产   
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                工厂开始生产
            </h4>
        </div>
        <div class="flex"  style=" flex-direction: column;height: 50vh; width: 23%; background: #F7F7F7; align-items: center; justify-content: center;">
            <div style="width: 12vw; background: white; border-radius: 50%; height: 22vh;">
                <img src="assets/onTimeDelivery.png" style="height:100%; width:100%">

            </div>
            <p style="font-size: 1.5rem">
                按期交货
            </p>
            <div style="height:0.2vh; width:5vw; background: #FFD011;">
            </div>
            <h4>
                发货签收，交易完成
            </h4>
        </div>
    </div>

</div>


<!--OEM制作流程-->
<div class="flex" style="flex-direction: column ;justify-content: center; align-items:  center;box-sizing: border-box; width: 100%; padding: 3vw;">
    <p style="font-size: 3rem">
        OEM制作机器
    </p>
    <div class="flex" style="justify-content: space-around; width:100%">
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/sachetPackaging.png" style="height:100%; width:100%">
        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/granuleProduction.png" style="height:100%; width:100%">
        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/Mixing.png" style="height:100%; width:100%">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/mixing4.png" style="height:100%; width:100%">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/pulverize.png" style="height:100%; width:100%">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">
            <img src="assets/Auto-filling.png" style="height:100%; width:100%">

        </div>
    </div>
</div>