<div style="width: 100%; height: 80vh; background: lightblue">

</div>

<!--OEM制造专家-->
<div style="width:100%; padding: 3vw; box-sizing: border-box;">
    <div class="flex" style="justify-content: center; justify-content: space-around; padding-right: 5vw">
        <div style="width: 30vw; height: auto; background:black">

        </div>
        <div class="flex" style="flex-direction: column; width:50vw; ">
            <p style="font-size: 3rem; margin-top: 0;">
                OEM制造专家
            </p>
            <p style="font-size: 1.4rem;">
                我们的工厂充满先进机械的协同作用。粉末和颗粒处理区整合了高科技的
                粉碎机、混合机和制粒机。在液体和果冻生产中，自动化的灌装和封口系
                统确保了精准的配料。片剂和胶囊制造采用精密的片剂压片机和胶囊灌装
                机进行。而能量棒和零食生产区则配备了现代化的挤出机和成型机。<br><br>
                目前每月的平均销售潜力将达到令人瞩目的2-3百万马币水平。这不仅凸显
                了我们对满足市场需求的承诺，更表明我们在每个产品中坚守着最高的质
                量标准。
            </p>
            <div style="background:black; width:auto; height: 20vh">

            </div>
        </div>
    </div>
</div>

<!--OEM 制作流程-->
<div class="flex" style="width:100%; flex-direction: column; padding: 3vw 5vw; align-items: center;box-sizing: border-box;">
    <p style="font-size: 3rem">
        OEM制作流程
    </p>
    <p style="font-size: 1.5rem;text-align: center;">
        OEM制程始于合作的概念设计和详细的产品工程，随后创建原型进行可视化和测试。一旦获得批准，我们就会进入全面的
        制造阶段，伴随着周密的生产计划。严格的质量控制确保产品卓越，而我们的设计团队则制作与您品牌相符的包装和标
        签。物流阶段处理安全包装、海关、仓储和分销，确保及时将产品送到指定地点。在整个过程中，您的愿景始终处于核心
        位置， 从而产生超越预期、反映您独特身份的产品。 
    </p>
</div>

<!--boxes-->
<div class="flex" style="padding: 1vw 5vw; justify-content: space-between;">
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            沟通细节
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            联系在线客服，沟通细节
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            开始设计
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            开始为你打样设计
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            产品报价
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            了解买家要求，给出报价
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            打样确认
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            双方进一步沟通，打样确认
        </h4>
    </div>
</div>

<div class="flex" style="padding: 1vw 5vw; justify-content: space-between;">
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            签订合同
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            上方签写确认合同
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            预付定金
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            工厂筹备材料，客户付定金
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            安排生产
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            工厂开始生产
        </h4>
    </div>
    <div class="flex"  style=" flex-direction: column;height: 50vh; width: 21vw; background: lightgray; align-items: center; justify-content: center;">
        <div style="width: 12vw; background: #FFD011; border-radius: 50%; height: 22vh;">
        </div>
        <p style="font-size: 1.5rem">
            按期交货
        </p>
        <div style="height:0.2vh; width:5vw; background: #FFD011;">
        </div>
        <h4>
            发货签收，交易完成
        </h4>
    </div>
</div>


<!--OEM制作流程-->
<div class="flex" style="flex-direction: column ;justify-content: center; align-items:  center;box-sizing: border-box; width: 100%; padding: 3vw;">
    <p style="font-size: 3rem">
        OEM制作流程
    </p>
    <div class="flex" style="justify-content: space-around; width:100%">
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
        <div style="height: 28vh;width:13vw; background:lightgray">

        </div>
    </div>
</div>